.logo {
	color:#efffcc;
}
.active{
	color:#fff;
	background-color:#ccff33;
    	text-shadow:none;
}
#dvideo{
    margin:7% auto;
}
#referencias p{
    text-align: justify;
}
#propiedades p{
    /*margin:0 5% 0 5%;*/
    text-align: justify;
}
body {
	font-size:87.5%;
    font-family:Arial,Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.429;
    margin:0;
    padding:0;
    /*text-align:left;*/
}
a{
    text-decoration: none;
}
a:link, a:visited{

}
a:hover,a:active{

}
.body {
    margin:0 auto;
    width:70%;
    clear: both;
}
.mainheader img {
    width:30%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:2%;
    margin-bottom:2%;
} 
.mainheader nav{
    position:fixed;
    clear:both;
    width:70%;
    background-color:#d5ff80;
    height:40px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.mainheader nav ul{
    list-style:none;
    margin:0 auto;
}
.mainheader nav ul li{
    float:right;
    display:inline;
}
.mainheader nav a:link, .mainheader nav a:visited{
    color:#000;
    display:inline-block;
    padding:10px 25px;
    height:20px;
    text-decoration:none;
}
.mainheader nav a:hover,.mainheader nav a:active,.mainheader nav .active a:link,.mainheader nav .active a:visited{
    background-color:#ccff33;
    text-shadow:none;
    color:#fff;
}
.mainheader nav ul li a{
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.mainContent{
    line-height:25px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    overflow:hidden;
}
.mainFooter{
    width:100%;
    height:40px;
    float:right;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background-color:#d5ff80;
    margin:2% 0;
    /*margin-top:2%;
    margin-bottom:2%;*/
}
.mainFooter p{
    width:92%;
    margin:10px auto;
    color:#fff;
    text-align:center;
}
@media only screen and (min-width : 150px) and (max-width : 780px) {
    
    #dvideo{
    	margin:2.8% auto;
    }
    .body {
        width:90%;
        font-size:95%;
    }
    .mainheader img {
        width:100%;
    }
    .mainheader nav{
    	position:static;
        height:120px;
        width:100%;
    }
    .mainheader nav ul{
        padding-left:0;
    }
    .mainheader nav ul li{
        width:100%;
        text-align:center;
    }
    .mainheader nav a:link, .mainheader nav a:visited{
        padding:10px 25px;
        height:20px;
        display:block;
    }
    #video{
       width:241.875px;
       height:135.75px;
    }
}
